# Environment name: demo, local, qa or staging
TEST_ENV=demo

# Optional overrides for demo.
# Required for local, qa and staging.
BASE_URL=https://demo.realworld.show
API_URL=https://api.realworld.show/api